---
---
<nav>
	<ul class="flex">
		<li>
			<a class="underline" href="/">Home</a>
		</li>
		<li class="pl-4">
			<a class="underline" href="/blog">Blog</a>
		</li>
		<li class="pl-4">
			<a class="underline" href="/about">About</a>
		</li>
	</ul>
</nav>