---
---
<nav id="nav-links" class="w-full uppercase bg-red-300 p-4 max-sm:hidden">
	<ul class="flex justify-around">
		<li>
			<a class="underline hover:font-bold focus:font-bold" href="/">Home</a>
		</li>
		<li class="pl-4">
			<a class="underline hover:font-bold focus:font-bold" href="/blog">Blog</a>
		</li>
		<li class="pl-4">
			<a class="underline hover:font-bold focus:font-bold" href="/about">About</a>
		</li>
	</ul>
</nav>